/* Style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.display {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: right;
}

.input,
.result {
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}

.result {
  color: #ff5733; /* Unique color for the result */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  background-color: #fff; /* Bright or white color for number buttons */
  border: none;
  color: #333;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  transform: scale(0.95);
}

.button-equal {
  grid-column: span 2; /* Span two columns for the equals button */
  background-color: #ff5733; /* Unique color for the equals button */
  color: #fff;
}

/* Add specific colors for clear, backspace, and operations */
.button-clear {
  background-color: #e74c3c; /* Red for clear */
}

.button-backspace {
  background-color: #3498db; /* Blue for backspace */
}

.button-add,.button-subtract, .button-multiply,.button-divide, .button-percent  {
  background-color: #9b59b6; /* Purple for add */
}
